body{
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contests_table{
    margin: 0 20px;
    flex: 1;

    /* Scroll settings */
    max-height: 600px; 
    overflow-y: auto;

}
.recent_problems{
    margin: 0 20px;
    flex: 1;

    /* Scroll settings */
    max-height: 600px; 
    overflow-y: auto;
    padding: 10px;

}
.user_info{
    flex: 1;
}
.problems{
    width: 100%;
}
.problem_index_solved{
    border: 2px solid black;
    padding: 10px;
    background-color: lightgreen;
}
.problem_index_unsolved{
    border: 2px solid black;
    padding: 10px;
    background-color: lightcoral;
}
.problem_index{
    border: 2px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.tag{
    background-color: lightgray;
    padding:3px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 5px 0 0;
    white-space: nowrap;
    word-break: keep-all;
}

.submission{
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}
.problem_info{
    padding: 4px;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_info img{
    border-radius: 50%;
    border: 3px solid black;
    margin-bottom: 10px;
}
.user_info_description{
    margin: 5px;
}

.container > div:not(:last-child) {
    border-right: 2px solid #ccc;
}

.problem_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.problem_info {
    flex: 0 0 auto;
    margin-right: 10px;
}

.problem_info.tags {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.edit_icon {
    margin-right: 5px;
    margin-left: auto;
    cursor: pointer;
}

.note{
    font-size: 12px;
    padding-bottom: 10px;
}

.load-more{
    display: block;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}