{% extends 'dashboard/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_note.css') }}">
{% endblock %}
{% block body %}
    <form method="POST">
        <label for="note">Add Note</label>
        <textarea rows="10" cols="100" name="note" id="note" placeholder="Enter your notes here ..."></textarea>
        <a href="{{ url_for('view_note', handle=handle, contest_id=contest_id, problem_index=problem_index) }}" class="btn btn-secondary">Cancel</a>
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible show" role="alert">
                {{ error_message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <button type="submit">Save</button>
    </form>
    <h4>Problem Name: {{ problem.name }}</h4>
    <h4>Problem Index: {{ problem.index }}</h4>
    <h4>Problem Tags: {% for tag in problem.tags %}{{ tag }} {% endfor %}</h4>
    <h4>Problem Rating: {{ problem.rating }}</h4>
{% endblock %}