{% extends 'dashboard/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_solution.css') }}">
{% endblock %}
{% block body %}
    <h4>Problem Name: {{ problem.name }}</h4>
    <form method="POST">
        <label for="note">Add Solution</label>
        <textarea rows="20" cols="100" name="solution" id="solution" placeholder="Enter your solution here ..."></textarea>
        <a href="{{ url_for('view_note', handle=handle, contest_id=contest_id, problem_index=problem_index) }}" class="btn btn-secondary">Cancel</a>
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible show" role="alert">
                {{ error_message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <button type="submit">Save</button>
    </form>
{% endblock %}