{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
{% endblock %}
{% block body %}
    <form method="POST">
        <label for="note">Add Note</label>
        <textarea rows="10" cols="100" name="note" id="note" placeholder="Enter your notes here ..."></textarea>
        <a href="{{ url_for('dashboard', handle=handle) }}"><button>Cancel</button></a>
        <button type="submit">Save</button>
    </form>
    <h4>Problem Name: {{ problem.name }}</h4>
    <h4>Problem Index: {{ problem.index }}</h4>
    <h4>Problem Tags: {% for tag in problem.tags %}{{ tag }} {% endfor %}</h4>
    <h4>Problem Rating: {{ problem.rating }}</h4>
{% endblock %}