{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"
{% endblock %}

{% block body %}
    <h1>Hello {{ handle }}</h1>
    <div class="contests_table">
        {% for contest in contests %}
            <div class="contest">
                <h3>{{ contest.contestName }}</h3>
                <div class="problems">
                    <table>
                        <tr>
                            {% for problem in contest_problems[loop.index0] %}
                                <td class="problem_index">{{ problem.index }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}