{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <h1>Hello {{ handle }}</h1>
    <div class="contests_table">
        {% for contest in contests %}
            <div class="contest">
                <h3>{{ contest.contestName }}</h3>
                <div class="problems">
                    <table>
                        <tr>
                            {% for problem in contest_problems[loop.index0] %}
                                {% if problem.index in solved_problems[contest.contestId] %}
                                    <td class="problem_index_solved">
                                        <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                    </td>
                                {% elif problem.index in unsolved_problems[contest.contestId] %}
                                    <td class="problem_index_unsolved">
                                        <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                    </td>
                                {% else %}
                                    <td class="problem_index">
                                        <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}