{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="user_info">
            <h2>Welcome, {{ handle }}!</h2>
            <img src="{{ user_info.avatar }}" alt="Avatar">
            <h4 class="user_info_description">Rating: {{ user_info.current_rating }}</h4>
            <h4 class="user_info_description">Rank: {{ user_info.current_rank }}</h4>
            <h4 class="user_info_description">Max Rating: {{ user_info.max_rating }}</h4>
            <h4 class="user_info_description">Max Rank: {{ user_info.max_rank }}</h4>
            {% if not logged_in %}
            <button><a href="/login">Login</a></button>
            <p>or</p>
            <button><a href="/register">Register</a></button>
            <p>To be able to access our NoteTaking Feature</p>
            {% endif %}
        </div>
        <div class="contests_table">
            <h2>Recent Contests</h2>
            {% for contest in contests %}
                <div class="contest">
                    <div class="contest_title">
                        <h3>
                            {{ contest.contestName }}
                        </h3>
                    </div>
                    <div class="problems">
                        <table>
                            <tr>
                                {% for problem in contest_problems[loop.index0] %}
                                    {% if problem.index in solved_problems[contest.contestId] %}
                                        <td class="problem_index_solved">
                                            <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                        </td>
                                    {% elif problem.index in unsolved_problems[contest.contestId] %}
                                        <td class="problem_index_unsolved">
                                            <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                        </td>
                                    {% else %}
                                        <td class="problem_index">
                                            <a href="https://codeforces.com/contest/{{ contest.contestId }}/problem/{{ problem.index }}" target="_blank">{{ problem.index }}</a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="recent_problems">
            <h2>Recent Problems</h2>
                {% for sub in submissions %}
                    <div class="submission">
                        <div class="problem_row">
                            <div class="problem_info">
                                <h4>{{ sub.index }}</h4>
                            </div>
                            <div class="problem_info">
                                <h4><a href="https://codeforces.com/problemset/problem/{{ sub.contestId }}/{{ sub.index }}" target="_blank">{{ sub.name }}</a></h4>
                            </div>
                            <div class="problem_info"><h4>{{ sub.rating }}</h4></div>
                            <div class="problem_info tags">
                                {% for tag in sub.tags %}
                                    <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            <div class="edit_icon">
                                {% block note_submission scoped%}{% endblock %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}