{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Codeforces Tracker</title>
{% endblock %}

{% block body %}
    <div class="centered-container">
    <div class="container tracker-box shadow border rounded">
        <h1>Codeforces Progress Tracker</h1>
        <form method="POST" action="/">
            <div class="form-group mb-3 position-relative">
                <input type="text" class="form-control form-control-sm rounded-1 ps-3" 
                       id="handle" name="handle" placeholder="Enter Your Handle" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100 rounded-1 mb-3">Submit</button>
        </form>
        <p class="text-center mb-0">
            <a href="/register" class="text-decoration-none fw-bold">Sign Up</a>
            Or
            <a href="/login" class="text-decoration-none fw-bold">Sign In</a>
            To access our note taking features
        </p>
    </div>
</div>

{% endblock %}