{% extends 'dashboard.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {{ super() }}
{% endblock %}

{% block note_submission %}
    {% set note_exists = notes.get(sub.name, False) %}


    {% if note_exists %}
        <a href="{{ url_for('view_note', handle=handle, contest_id=sub.contestId, problem_index=sub.index) }}"><i class="fa-regular fa-eye"></i></a>
    {% else %}
        <a href="{{ url_for('create_note', handle=handle, contest_id=sub.contestId, problem_index=sub.index) }}"><i class="fa-solid fa-plus"></i></a>
    {% endif %}
{% endblock %}